<div class="side flex col">
    <div class="top flex col">
        <img src="./img/me.jpg" alt="">
        <h2>Paulo Dallastra</h2>
    </div>
    <hr>
    <div class="menu flex col">
        <div class="menu-item flex">
            <a href="/">Home</a>
        </div>
        <div class="menu-item flex">
            <a href="/part1">Part I</a>
        </div>
        <div class="menu-item flex">
            <a href="/part2">Part II</a>
        </div>
        <div class="menu-item flex">
            <a href="/part3">Part III</a>
        </div>
        <div class="menu-item flex">
            <a href="/part4">Part IV</a>
        </div>
    </div>
    <div class="footer flex">
        <p>Paulo Dallastra | &copy;2020</p>
    </div>
</div>