<%- include('./partials/header.ejs') %>

<body>
    <section class="main flex row">
        <%- include('./partials/side.ejs')%>
        <div class="content flex col">
            <h1>This is my website for CIT261 Fluency</h1>
            <div class="items flex row">
                <div class="item flex col">
                    <h2>Topic 1/ Topic 2</h2>
                    <p>Loops, Conditional Statements, Functions, Variables, Parameters, Arrays, Associative Arrays</p>
                    <p>Object Creation Functions, Inheritance, Properties, Methods, Instantiation</p>
                </div>
                <div class="item flex col">
                    <h2>Topic 3</h2>
                    <p>JSON Parse, Stringify</p>
                </div>
                <div class="item flex col">
                    <h2>Topic 4</h2>
                    <p>Using XMLHTTPRequest to Consume a JSON Web Service</p>
                </div>
            </div>
            <div class="items flex row">
                <div class="item flex col">
                    <h2>Topic 5</h2>
                    <p>Local Storage API, Storing and Retrieving Simple Data, Arrays, Associative Arrays, and Object</p>
                </div>
                <div class="item flex col">
                    <h2>Topic 6</h2>
                    <p>DOM Manipulation Using createElement, appendChild, insertBefore, removeChild, etc.</p>
                </div>
                <div class="item flex col">
                    <h2>Topic 7</h2>
                    <p>Manipulating CSS Class Properties Using JavaScriptArrays</p>
                </div>
            </div>
            <div class="items flex row">
                <div class="item flex col">
                    <h2>Topic 8</h2>
                    <p>Creating CSS3 Transitions and Animations in CSS and triggering them with JavaScript</p>
                </div>
                <div class="item flex col">
                    <h2>Topic 9</h2>
                    <p>Standard JavaScript Events Including those for Mobile Devices ( Ex. onTouchBegin, onLoad, etc.) and Animation and Transition Events</p>
                </div>
                <div class="item flex col">
                    <h2>Topic 10</h2>
                    <p>HTML5 Tags - Video, Audio, and Canvas</p>
                </div>
            </div>
            <div class="items flex row">
                <div class="item flex col">
                    <h2>Topic 11</h2>
                    <p>Designing, Defining, and Triggering CSS3 <strong>Transitions</strong> without Custom Libraries (Thought Library)</p>
                </div>
                <div class="item flex col">
                    <h2>Topic 12</h2>
                    <p>Designing, Defining, and Triggering CSS3 <strong>Transforms</strong> without Custom Libraries (Thought Library)</p>
                </div>
                <div class="item flex col">
                    <h2>Topic 13</h2>
                    <p>Designing, Defining, and Triggering CSS3 <strong>Animations</strong> without Custom Libraries (Thought Library)</p>
                </div>
            </div>
        </div>
    </section>
</body>

</html>