<%- include('./partials/header.ejs') %>

<body>
    <section class="main flex row">
        <%- include('./partials/side.ejs')%>
        <div class="content flex col">
            <h1>This is my website for CIT261 Fluency</h1>
        </div>
    </section>
</body>

</html>